/* MAIN PAGE CODES AND STYLE */
body {
 background-color: #dddddd;
 background-image: url('https://i.imgur.com/Z9bn32a.png');
 background-attachment: left;
 background-repeat: repeat-y;
 font: normal 11px verdana;
 color: #222222;
 line-height: 12px;
 text-align: justify;
 cursor: crosshair; }


 /* TABLE PLACEMENTS AND HEADER IMAGE PLACEMENT */

#POP1 {
	position:absolute;
	width:0px;
	height:0px;
	top:0px;
	left:0px;
	z-index:1;}

#POP2 {
	position:absolute;
	width:500px;
	left:124px;
	top:360pt;
	z-index:3;
	padding:3px;
	overflow: hidden;
	background-color: transparent;
	border-bottom: 4px dashed #82a6bd;}

#POP3 {
	position:absolute;
	width:230px;
	z-index:2;
	left: 636px;
	top: 369pt;
	overflow: hidden;
	padding:8px;
	background-color:transparent;
	background-image: url('https://i.imgur.com/ARGIPUf.png');
	border-bottom: 4px dashed #82a6bd;
	border-left:1px solid #999999;}
	
#POPlink {
	position:absolute;
	width:740px;
	z-index:2;
	left: 440px;
	top: 300pt;
	overflow: hidden;
background-color: transparent;}

#cbox {
	position:absolute;
	width:260px;
	z-index:2;
	left: 855px;
	top: 126pt;
	overflow: hidden;
	padding:3px;
	border-right: 4px solid #ce859e;
	background-image: url('http://i.imgur.com/ZySaDVC.png');}

i, italic{
font-family:verdana;
color:#497a99;}

b, bold {
color: #497a99;
font: bold 11px verdana;
text-transform: none;}

strong {
color: #497a99;
font: 15pt normal;
font-family:times;
font-weight: bold;
font-style:italic;
letter-spacing:0px;
border-left: 5px solid #df667f;
border-right: 5px solid #df667f;
padding-left: 15px;
padding-right: 15px;
border-bottom: 1px solid #999; }

.head1 {
color: #df667f;
background-color: none;
font: italic 25pt arial;
letter-spacing: -1px;
display: block;
text-align: right;
line-height: 17pt;
margin-bottom: 5px;
font-weight:bold;
text-transform: lowercase;
border-bottom: 1px dashed #444444;
width: 100%;}

.head2 {
color: #555555;
background-color: transparent;
font: bold 15px arial;
letter-spacing: -1px;
display: block;
text-align: justify;
line-height: 11pt;
padding-bottom: 1px;
margin-bottom: 3px;
margin-top: 3px;
text-transform: uppercase;
border-bottom: 2px solid #df667f;
width: 100%;}

textarea{
background-color: white;
font: normal 11px arial;
width: 270px;
height: 50px;
border: #000000 1px dashed;
color: #333333;
text-transform: none;}

textarea.style1 {
  font: normal 12px arial;
  background-color: #e0e0e0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin: 5px;
  width: 90%;
  height: 206px;
  color: black;
  text-transform: none;}
  textarea.style1 span {
  display: block;}

blockquote {
color: #222222;
font-family: verdana;
font-weight: normal;
font-size:11px;
text-align: justify;
padding-bottom: 3px;
padding-top: 5px;
padding-left: 7px;
padding-right: 7px ;
border-left: 5px solid #81a8c0;
margin-bottom: 7px;
background-color:#f1f1f1;
display:block;
cursor: crosshair;}

blockquote.style1 {
  font: 14px/20px italic Times, serif;
  padding: 8px;
  background-color: #f1f1f1;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 5px solid #81a8c0;
  border-right: 5px solid #81a8c0;
  margin-left: 40px;
  margin-right:40px;}
  blockquote.style1 span {
  display: block;}

blockquote.style2 {
  font: 11px italic verdana;
  padding-bottom: 3px;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px ;  background-color: #f1f1f1;
  border-left: 5px solid #81a8c0;
  border-right: 5px solid #81a8c0;
  margin-left: 5px;
  margin-right:5px;}
  blockquote.style1 span {
  display: block;}
  
.sub {
color: #df667f;
font: bold 13px arial;
letter-spacing: 0px;
display: block;
background-color: #f1f1f1;
text-align: justify;
width: 97%;
line-height: 11px;
margin-top: 7pt;
margin-bottom: 7pt;
margin-left: 2px;
margin-right:2px;
padding:2px;
border-left: 3px solid #f1f1f1;
border-bottom: 1px solid #888888;
text-transform: uppercase;}

h1{
background:#d3d3d3;
color:#000000; 
font: normal 11px verdana;
text-align:center;
width: 250px; 
border:2px solid #877995;
margin-top:0; 
margin-bottom:10px; 
margin-left: 3px;
cursor: ne-resize;
padding:2px;}

li {
list-style-image:url(http://i56.tinypic.com/2uepgu1.gif);
margin-bottom: 0px; 
margin-top: 0px; 
margin-right: 3px; 
padding-right: 2px;
margin-left: 3px;}

hr {
  border:none;
  border-top:1px dashed #777;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:100%;
}

a:link {
	text-decoration: none;}
a:visited, active {
	text-decoration: none;
	color: #df667f;}
a:hover {
	text-decoration: none;
	color: #444444;}
a {
	font: normal 11px verdana;
	color: #df667f;
	background-color: none;
	text-transform:none;
	letter-spacing: 0px;
	border-bottom: 0px dashed black;
	text-align:center;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;}
	
a.nav:link, a.nav:active, a.nav:visited {  
	color: #888888;
	font: bold 13pt times;
	background-color:#f1f1f1;
	line-height: 12pt;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0px;
	display: block;
	padding: 5px;
	margin-bottom: 0px; 
	border-left:10px solid #81a8c0;
	border-right:10px solid #81a8c0;
	border-bottom: 0px dashed black;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;}

a.nav:hover {
	color: #000000;
	font: bold 13pt times;
	text-align: center;
	line-height: 12pt;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
	padding: 5px;
	margin-bottom: 0px; 
	border-bottom: 0px dashed black; }
	
a.navi:link, a.navi:active, a.navi:visited {  
	font: italic 21pt verdana;
	text-align: center;
	color: #82a6bd;
    display:block;
    background-color: transparent;
	text-transform: uppercase;
    font-weight: bold;
	letter-spacing: 0px;
	cursor: hand;
	border-bottom: 0px dashed black;
	-webkit-transition: color 1.0s ease-out;
    -moz-transition: color 1.0s ease-out;}

a.navi:hover {
	font: italic 21pt verdana;
	text-align: center;
	color: #cccccc;
    display:block;
	letter-spacing: 1px;
    font-weight: bold;
	text-transform: uppercase;
	cursor: hand;
	border-bottom: 0px dashed black;}

a.stories:link, a.stories:active, a.stories:visited {  
	font: italic 16pt times new roman;
	text-align: justify;
	color: #999999;
	margin-bottom: 1px; 
    font-weight: bold;
	text-transform: none;
	letter-spacing: -1px;
    background-color: none;
	cursor: hand;
	border-bottom: 0px dashed black;
	-webkit-transition: color 1.0s ease-out;
    -moz-transition: color 1.0s ease-out;}

a.stories:hover {
	font: italic 16pt times new roman;
	text-align: justify;
	color: #df667f;
	margin-bottom: 1px; 
	letter-spacing: -1px;
    font-weight: bold;
	text-transform: none;
    background-color: none;
	cursor: hand;
	border-bottom: 0px dashed black;}

a img {
	border: 1px solid #999999;
	padding: 2px;	
	margin: 1px 1px 1px 1px;
	vertical-align: top;}
